*{margin: 0;padding: 0;}
body{
    /* 상속되는것 글씨체 , 글씨크기 */
    font-family: "궁서";
}

h1,p{
    /* 그룹선택자 */
}
div p{
    background-color: yellow;
    /* 자손선택자 */
}
div p:hover{
    /* 가상 클래스 선택자 */
    background-color: red;
    color:white;
}

h3{color: purple;}
.title{color:hotpink}
#menu{background-color: pink;}