* {
  margin: 0;
  padding: 0;
}

#slide-container {
  position: relative;
  width: 100%;
  max-width: 270px;
  height: 300px;
  margin: 100px auto 0;
}
.slider {
  width: 100%;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.slide.on {
  visibility: visible;
  opacity: 1;
}
img {
  display: block;
  width: 100%;
  border-radius: 0 30px 0 30px;
}
.pager {
  position: absolute;
  top: 10px;
  right: 10px;
}
.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 8px;
  background-color: white;
  border-radius: 20px;
  transition: all 0.6s ease;
  cursor: pointer;
}
.dot.active {
  background-color: #ffc300;
  width: 30px;
}
